<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Requesting Users</title>
</head>

<body>

<div class="container">

	<h3>Requesting Users Directory</h3>
	<hr>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Username</th>
				<th>Full Name</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="requesting_user : ${requesting_users}">
			
				<td th:text="${requesting_user.username}" />	
				<td th:text="${requesting_user.fullName}" />		
				<td>
					<a th:href="@{/user/accept_request(selected_user=${requesting_user.username}, book_id=${book_id})}"
					   class="btn btn-info btn-sm btn-block">
						Accept Request
					</a>		
				</td>
				
			</tr>
		</tbody>		
	</table>
	
	<a th:href="@{/user/dashboard}">Back to User Dashboard</a>
	
</div>
	
</body>
</html>



